# Logistic Regression in scikit-learn - Lab

## Introduction 

In this lab, you are going to fit a logistic regression model to a dataset concerning heart disease. Whether or not a patient has heart disease is indicated in the column labeled `'target'`. 1 is for positive for heart disease while 0 indicates no heart disease.

## Objectives

In this lab you will: 

- Fit a logistic regression model using scikit-learn 


## Let's get started!

Run the following cells that import the necessary functions and import the dataset:

In [1]:
# Import necessary functions
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
# Import data
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Define appropriate `X` and `y` 

Recall the dataset contains information about whether or not a patient has heart disease and is indicated in the column labeled `'target'`. With that, define appropriate `X` (predictors) and `y` (target) in order to model whether or not a patient has heart disease.

In [3]:
# Split the data into target and predictors
y = df[["target"]]
X = df[[col for col in df.columns if col != "target"]]

## Train- test split 

- Split the data into training and test sets 
- Assign 25% to the test set 
- Set the `random_state` to 0 

N.B. To avoid possible data leakage, it is best to split the data first, and then normalize.

In [4]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

## Normalize the data 

Normalize the data (`X`) prior to fitting the model.

In [7]:
# Your code here
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=[col for col in df.columns if col != "target"])
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.197454,0.003134,0.009403,0.454458,0.730267,0.003134,0.000000,0.470129,0.000000,0.007209,0.000000,0.0,0.003134
1,0.108748,0.002939,0.005878,0.382088,0.734785,0.000000,0.002939,0.549619,0.000000,0.010287,0.000000,0.0,0.005878
2,0.136825,0.000000,0.003337,0.433835,0.680787,0.000000,0.000000,0.573997,0.000000,0.004672,0.006674,0.0,0.006674
3,0.172879,0.003087,0.003087,0.370456,0.728563,0.000000,0.003087,0.549509,0.000000,0.002470,0.006174,0.0,0.006174
4,0.138431,0.000000,0.000000,0.291434,0.859729,0.000000,0.002429,0.395864,0.002429,0.001457,0.004857,0.0,0.004857

## Fit a model

- Instantiate `LogisticRegression`
  - Make sure you don't include the intercept  
  - set `C` to a very large number such as `1e12` 
  - Use the `'liblinear'` solver 
- Fit the model to the training data

In [12]:
from sklearn.pipeline import make_pipeline

# Instantiate the model
logreg = LogisticRegression(fit_intercept=False, C=1e12, solver='liblinear')
model = make_pipeline(scaler, logreg)

# Fit the model
model.fit(X_train, y_train.values.ravel())

Pipeline(steps=[('normalizer', Normalizer()),
                ('logisticregression',
                 LogisticRegression(C=1000000000000.0, fit_intercept=False,
                                    solver='liblinear'))])

## Predict
Generate predictions for the training and test sets.

In [13]:
# Generate predictions
y_hat_train = model.predict(X_train)
y_hat_test = model.predict(X_test)

## How many times was the classifier correct on the training set?

In [14]:
# Your code here
model.score(X_train, y_train)

0.8546255506607929

## How many times was the classifier correct on the test set?

In [15]:
# Your code here
model.score(X_test, y_test)

0.8289473684210527

## Analysis
Describe how well you think this initial model is performing based on the training and test performance. Within your description, make note of how you evaluated performance as compared to your previous work with regression.

In [ ]:
# Your analysis here
# The model performs well on both the training and test sets, with a score of 0.85 and 0.82, respectively.

## Summary

In this lab, you practiced a standard data science pipeline: importing data, split it into training and test sets, and fit a logistic regression model. In the upcoming labs and lessons, you'll continue to investigate how to analyze and tune these models for various scenarios.